<link rel="stylesheet" href="{{ "/assets/css/sidebar.css" | relative_url }}" media="screen and (min-width: 70em)">
<aside style="display: none">
  <div style="text-align: center; padding: 1rem;">
  <img src="/assets/img/elephant.png" alt="Profile photo" width="100" style="border-radius: 50%; margin-bottom: 0.5rem;">
  <div style="font-weight: bold; margin-bottom: 0.25rem;">Yue Li</div>
  Philadelphia, PA
  </div>
  
  {%- for item in site.external -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
      <span aria-hidden="true">{{ title }}</span>
    </a>
  {%- endfor -%}
  
  <nav>
  {%- for item in site.navigation -%}
    {%- assign node = site.pages | where: "name", item.file | first -%}
    {%- assign url = item.url | default: node.url -%}
    {%- assign title = item.title | default: node.title -%}
    {%- assign icon = item.icon | default: item.sidebaricon -%}
    <a aria-label="{{ title }}" href="{{ url | relative_url }}" {% if url == page.url %}class="selected"{% endif %}>
      <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ icon }}"></use></svg>
      <span aria-hidden="true">{{ title }}</span>
    </a>
  {%- endfor -%}

  </nav>
  <div class="description">{{ site.description }}</div>
</aside>
